* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'League Spartan', sans-serif;
}

body {
 background: #485A70;
}
h1{
 margin-top: 10px;
 margin-bottom: 30px;
 text-align: center;
 color: white;
}

.button1{
 margin-top: 50px;
 margin-bottom: 50px;
 text-align: center;
}
.Timers{
 text-align: center;
}
.center{
 text-align: center;
}
.form1{
 display: flex;
}